*._trace
xtend-gen/
xtext-gen/
src-gen/
bin/
target/
classes/
.DS_Store
com.ge.research.sadl.swi-prolog-plugin/.settings/org.eclipse.core.resources.prefs
com.ge.research.sadl.swi-prolog-plugin/.settings/org.eclipse.jdt.core.prefs
com.ge.research.sadl.swi-prolog-plugin/.settings/org.eclipse.m2e.core.prefs
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena-wrapper-for-sadl/src/test/java/com/ge/research/sadl/jena/TestCreateRdfProperty.java
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena.sorted-owl-ntriples/.settings/org.eclipse.jdt.core.prefs
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena.sorted-owl-ntriples/.settings/org.eclipse.m2e.core.prefs
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena.sorted-owl-ntriples/jar-in-jar-loader.zip
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/Models/SadlList.owl
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/Run SADL IDE (Eclipse) jdk 1.7 (OS).launch
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/Run SADL IDE (Eclipse) jdk 1.7 (debug).launch
sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.ui/Run SADL IDE (Eclipse) jdk 1.7 (ASSERT).launch
sadl3/com.ge.research.sadl.parent/com.ge.research.jena/lib/reasoner-api.jar
sadl3/com.ge.research.sadl.parent/com.ge.research.jena/lib/reasoner-impl.jar
*.classpath
*.prefs
*.jar
