<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="sadl_model_processor" name="SADL Model Processor" schema="schema/sadl_model_processor.exsd"/>
   <extension-point id="sadl_import_processor" name="SADL Import Processor" schema="schema/sadl_import_processor.exsd"/>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="sadl"
			id="com.ge.research.sadl.SADL"
			name="SADL Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="com.ge.research.sadl.SADL.validate">
		<activeWhen>
			<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="com.ge.research.sadl.SADL.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="com.ge.research.sadl.SADL.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.ge.research.sadl.SADL.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="com.ge.research.sadl.SADL" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
		<definition id="com.ge.research.sadl.SADL.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
						value="com.ge.research.sadl.SADL" 
						forcePluginActivation="true"/>
				</with>		
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.ge.research.sadl.SADL"
			name="SADL">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
		</page>
		<page
			category="com.ge.research.sadl.SADL"
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="com.ge.research.sadl.SADL.coloring"
			name="Syntax Coloring">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
		</page>
		<page
			category="com.ge.research.sadl.SADL"
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="com.ge.research.sadl.SADL.templates"
			name="Templates">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.ge.research.sadl.SADL"
			name="SADL">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
				<page
              category="com.ge.research.sadl.SADL"
              class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:com.ge.research.sadl.ui.preferences.SadlReasonerPreferencePage"
              id="com.ge.research.sadl.Sadl.reasoner"
              name="Reasoner Preferences">
           <enabledWhen>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
           </enabledWhen>
           <filter
                 name="nature"
                 value="org.eclipse.xtext.ui.shared.xtextNature">
           </filter>
        </page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="com.ge.research.sadl.ui.keyword_SADL"
			label="SADL"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="com.ge.research.sadl.SADL.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="com.ge.research.sadl.SADL.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
				</reference>
			</visibleWhen>
		</command>  
		</menuContribution>
		!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.ge.research.sadl.SADL.Editor.opened" />
				</visibleWhen>
			</command>  
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.ge.research.sadl.SADL.Editor.opened" />
				</visibleWhen>
			</command>  
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="com.ge.research.sadl.SADL.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.ge.research.sadl.SADL.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	
	<!-- adding resource factories -->
	
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="sadl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
	        uriExtension="sadl">
	    </resourceServiceProvider>
	</extension>
	
	<!-- marker definitions for com.ge.research.sadl.SADL -->
	<extension
			id="sadl.check.fast"
			name="SADL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="sadl.check.normal"
			name="SADL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="sadl.check.expensive"
			name="SADL Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="sadl">
		</participant>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="com.ge.research.sadl.SADL"
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="com.ge.research.sadl.SADL.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="com.ge.research.sadl.SADL"
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="com.ge.research.sadl.SADL.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="com.ge.research.sadl.SADL.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.ge.research.sadl.SADL.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="com.ge.research.sadl.SADL.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.ge.research.sadl.SADL.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<!-- quickfix marker resolution generator for com.ge.research.sadl.SADL -->
	<extension
	        point="org.eclipse.ui.ide.markerResolution">
	    <markerResolutionGenerator
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.ge.research.sadl.ui.sadl.check.fast">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	    <markerResolutionGenerator
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.ge.research.sadl.ui.sadl.check.normal">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	    <markerResolutionGenerator
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
	        markerType="com.ge.research.sadl.ui.sadl.check.expensive">
	        <attribute
	            name="FIXABLE_KEY"
	            value="true">
	        </attribute>
	    </markerResolutionGenerator>
	</extension>
	
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="com.ge.research.sadl.SADL.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
	     <menuContribution
	        locationURI="popup:#TextEditorContext?after=group.edit">
	     <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
	           style="push">
	        <visibleWhen checkEnabled="false">
	           <reference
	                 definitionId="com.ge.research.sadl.SADL.Editor.opened">
	           </reference>
	        </visibleWhen>
	     </command>
	  </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="com.ge.research.sadl.SADL"
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="com.ge.research.sadl.SADL.refactoring"
	        name="Refactoring">
	        <keywordReference id="com.ge.research.sadl.ui.keyword_SADL"/>
	    </page>
	</extension>
	
	<extension point="org.eclipse.compare.contentViewers">
	<viewer id="com.ge.research.sadl.SADL.compare.contentViewers"
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
	        extensions="sadl">
	</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
	<viewer id="com.ge.research.sadl.SADL.compare.contentMergeViewers"
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
	        extensions="sadl" label="SADL Compare">
	 </viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
	<provider id="com.ge.research.sadl.SADL.editors.documentProviders"
	        class="com.ge.research.sadl.ui.SADLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
	        extensions="sadl">
	</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
	
	<fileTypes
	        extension="sadl"
	        type="text">
	</fileTypes>
	
	</extension>
  <extension point="org.eclipse.ui.importWizards"> 
		<category id="com.ge.research.sadl" name="SADL"/>
<!--		<wizard 
			id="com.ge.research.sadl.geonly.ImportCSVToSadl" 
			name="CSV Files" 
			class="com.ge.research.sadl.geonly.ui.imports.SadlCSVImportWizard"
			icon="icons/import_folder.gif" 
			category="com.ge.research.sadl">
			<description>Import CSV files to a SADL project</description> 
			<selection class="org.eclipse.core.resources.IFile" name="*.csv"/> 
		</wizard> -->
<!--		<wizard 
			id="com.ge.research.sadl.geonly.ImportXLSToSadl" 
			name="Excel Files" 
			class="com.ge.research.sadl.geonly.ui.imports.SadlXLSImportWizard" 
			icon="icons/import_folder.gif" 
			category="com.ge.research.sadl">
			<description>Import Excel files to a SADL project</description> 
			<selection class="org.eclipse.core.resources.IFile" name="*.xls"/> 
		</wizard> -->
		<wizard 
			id="com.ge.research.sadl.geonly.ImportOwlToSadl" 
			name="Owl Files" 
			class="com.ge.research.sadl.ui.imports.OwlFileImportWizard" 
			icon="icons/import_folder.gif" 
			category="com.ge.research.sadl">
			<description>Import Owl files to a SADL project</description> 
			<selection class="org.eclipse.core.resources.IFile" name="*.owl"/> 
		</wizard> 
   </extension> 
</plugin>
