node_modules
.browser_modules
lib
*.log
*-app/*
!*-app/package.json
!*-app/Dockerfile
sadl-language-server.zip
!.project
*webpack.config.js
languageserver
# SADL project-specific resources
ImplicitModel
OwlModels
externals/externals/*/*owl
