<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ge.com/research/sadl/Sadl" 
       class = "com.ge.research.sadl.sadl.SadlPackage"
       genModel = "model/generated/Sadl.genmodel" /> 
	
  </extension>

   <extension
         id="problem"
         name="SADL Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
