<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.naturalsemantics.com/sadl/sitl/SITL"
			class = "com.naturalsemantics.sadl.sitl.sITL.SITLPackage"
			genModel = "model/generated/SITL.genmodel" />
	</extension>
</plugin>
