.footer {
	margin-top: 40px;
	margin-bottom: 80px;
}

#editor_div {
    width: 49%;
    height: 600px;
    border: 1px solid grey;
    float: left;
}

#content_div {
    width: 40%;
    height: 600px;
    float: left;
    margin-top: 40px;
	margin-left: 40px;
}

.keyword {
    color: #801480 !important;
}

.string {
    color: #000000 !important;
    background: #E6F0FF !important;
}

.number {
    color: #000000 !important;
    background: #E6F0FF !important;
}

.attribute {
    color: #000000 !important;
    background: white !important;
}

.type {
    color: #000080 !important;
    font-weight: bold;  
}

.tag {
    color: #0000FF !important;
}

.constant {
    color: #FF00FF !important;
    font-weight: bold;
}

.constructor {
    color: #008000 !important;
    font-weight: bold;
}

.namespace {
    color: #00CC00 !important;
    font-weight: bold;
}

.warn-token {
    color: #000080 !important;
}

.predefined {
    color: #801480 !important;
    font-weight: bold;
}