<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SADL Category"
            id="sadl.commands.category">
      </category>
      <command
            name="Run Inference"
            categoryId="sadl.commands.category"
            id="SADL.RunInference">
      </command>
      <command
            categoryId="sadl.commands.category"
            id="SADL.RunQuery"
            name="Run Query">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="SADL.RunInference"
            class="com.ge.research.sadl.perspective.handlers.RunInference">
      </handler>
      <handler
            commandId="SADL.RunQuery"
            class="com.ge.research.sadl.perspective.handlers.RunQuery">
      </handler>
   </extension>
  
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="SADL.RunInference"            
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="SADL.RunQuery"            
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="ASSERT"
               mnemonic="M"
               id="Test.menus.sadlMenu">
               
             <visibleWhen checkEnabled="false">
  				<with variable="activeWorkbenchWindow.activePerspective">
     	   			<equals value="test.perspectives.SADL"/>
    			</with>
			</visibleWhen>
             <command
                   commandId="referenceToMenuId4"
                   icon="icons/RC_Icon_Resize.png"
                   tooltip="Generate ACL2s Input Files">
             </command>
             <command
                   commandId="referenceToMenuId5"
                   icon="icons/RC_Icon_Resize.png"
                   tooltip="Generate Simulink Input Files">
             </command>
            <command
                  commandId="Test.commands.ACL2sAnalysisCommand"
                  icon="icons/RA_Icon_Resize.png"
                  tooltip="Start Requirements Analysis">
            </command>   
            <command
                  commandId="Test.commands.AnalysisResultsCommand"
                  icon="icons/RA_Icon_Magnify_Mock.png"
                  tooltip="View Requirements Analysis">
            </command>
            <command
                  commandId="Test.commands.RunATG"
                  icon="icons/ATCG_Icon_Resize.png"
                  tooltip="Run ATG">
            </command>
         </menu>
         
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar">
            <command
                  commandId="referenceToMenuId"
                  icon="icons/ASSERT_Icon_.ico"
                  style="pulldown">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:referenceToMenuId">
         <command
               commandId="referenceToMenuId4"
               icon="icons/RC_Icon_Resize.png"
               label="Generate ACL2s Input Files"
               style="push">
         </command>
         <command
               commandId="referenceToMenuId5"
               icon="icons/RC_Icon_Resize.png"
               label="Generate Simulink Input Files"
               style="push">
         </command>
         <command
               commandId="referenceToMenuId"
               icon="icons/RA_Icon_Resize.png"
               label="Perform Analysis"
               style="push">
         </command>
         <command
               commandId="referenceToMenuId2"
               icon="icons/RA_Icon_Magnify_Mock.png"
               label="View Analysis Results"
               style="push">
         </command>
         <command
               commandId="referenceToMenuId3"
               icon="icons/ATCG_Icon_Resize.png"
               label="Run ATG"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="test.wizards.SADL"
            name="SADL">
      </category>
      <wizard
            category="test.wizards.SADL"
            class="wizards.SADL_Project"
            finalPerspective="test.perspectives.SADL"
            icon="icons/RC_Icon_Resize.png"
            id="test.wizards.SadlProject"
            name="SADL Project"
            project="true">
      </wizard>
      <wizard
            category="test.wizards.SADL"
            class="wizards.SADL_File"
            finalPerspective="test.perspectives.SADL"
            icon="icons/RC_Icon_Resize.png"
            id="test.wizards.SADL_File"
            name="SADL Ontology File"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ge.research.sadl.perspective.perspectives.SADL"
            icon="icons/06-link.png"
            id="test.perspectives.SADL"
            name="SADL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="Lean_Test.activity1"
            name="Welcome">       
      </activity>
      <activityPatternBinding
            activityId="Lean_Test.activity1"
            pattern="org.eclipse.ui.help.quickStartAction">
      </activityPatternBinding>
      <activity
            id="Lean_Test.activity2"
            name="Java">
      </activity>
      <activityPatternBinding
            activityId="Lean_Test.activity2"
            pattern="org.eclipse.jdt.debug.ui ">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="test.wizards.SadlProject">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="test.wizards.SADL_File">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="test.wizards.REQ_File">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="Lean_Test.product"
            name="preferenceDefaults">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
