name: SADL Integration Workflow

# Runs whenever a pull request is created, reopened, or modified

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
  workflow_dispatch:

# Runs integration workflow as a CI check:
# - Builds SADL source and runs unit tests
# - Builds SADL-Eclipse image

jobs:
  integration:
    container:
      image: maven:${{ matrix.maven-version }}
      volumes:
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        distribution: [ temurin ]
        java-version: [ 17 ]
        maven-version: [ 3.9.5 ]
        os: [ ubuntu-22.04 ]

    steps:
    - name: Check out SADL source
      uses: actions/checkout@v4.1.1

    - name: Set up Java and Maven
      uses: actions/setup-java@v4.0.0
      with:
        cache: maven
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java-version }}

    - name: Build SADL source
      run: mvn -B package -f sadl3/com.ge.research.sadl.parent/pom.xml -Dtycho.localArtifacts=ignore

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.0.0

    - name: Build SADL-Eclipse image
      uses: docker/build-push-action@v5.0.0
      with:
        context: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product
        file: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/Dockerfile
        push: false
        tags: sadl/sadl-eclipse:ci
