name: SADL Main Workflow

# Runs whenever the main branch is changed (except for tags)

on:
  push:
    branches: [ development ]
    tags-ignore: [ '*' ]
  workflow_dispatch:

# Runs main workflow and uploads build artifacts:
# - Builds SADL source and runs unit tests
# - Uploads SADL product/zip to main workflow assets
# - Pushes SADL-Eclipse image to Docker Hub
# - Updates sadl-develop update site

jobs:
  main:
    container:
      image: maven:${{ matrix.maven-version }}
      volumes:
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        distribution: [ temurin ]
        java-version: [ 17 ]
        maven-version: [ 3.9.5 ]
        os: [ ubuntu-22.04 ]

    steps:
    - name: Check out SADL source
      uses: actions/checkout@v4.1.1

    - name: Set up Java and Maven
      uses: actions/setup-java@v3.13.0
      with:
        cache: maven
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java-version }}

    - name: Build SADL source
      run: mvn -B package -f sadl3/com.ge.research.sadl.parent/pom.xml -Dtycho.localArtifacts=ignore

    - name: Get SADL version
      run: |
        cd sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/repository/features
        echo "sadlversion=$(ls com.ge.research.sadl.feature_*.jar | sed 's/com.ge.research.sadl.feature_\(.*\).jar/\1/')" >> $GITHUB_ENV

    - name: Upload SADL product
      uses: actions/upload-artifact@v3.1.3
      with:
        name: sadl-eclipse-${{ env.sadlversion }}
        path: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/target/products/*.zip

    - name: Upload SADL update site
      uses: actions/upload-artifact@v3.1.3
      with:
        name: com.ge.research.sadl.update-${{ env.sadlversion }}
        path: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/repository/

    - name: Login to Docker Hub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.0.0

    - name: Build and push SADL-Eclipse image
      uses: docker/build-push-action@v5.0.0
      with:
        context: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product
        file: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/Dockerfile
        push: true
        tags: sadl/sadl-eclipse:dev

    - name: Update Docker Hub description
      uses: peter-evans/dockerhub-description@v3.4.2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: sadl/sadl-eclipse
        readme-filepath: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/README.md

    - name: Check out sadl-update-sites
      uses: actions/checkout@v4.1.1
      with:
        repository: SemanticApplicationDesignLanguage/sadl-update-sites
        token: ${{ secrets.CI_PAT }}
        path: sadl-update-sites

    - name: Update sadl-develop in sadl-update-sites
      run: |
        cd sadl-update-sites
        rm -rf sadl-develop
        mv ../sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/repository sadl-develop
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "Update sadl-develop in sadl-update-sites"
        git push
