name: SADL Main Workflow

# Runs whenever the main branch has a change made to it (except for
# tag-only pushes)

on:
  push:
    branches: [ development ]
    tags-ignore: [ '*' ]
  workflow_dispatch:

# Runs a build job and uploads SADL build artifacts:
# - Builds SADL source & runs unit tests
# - Uploads SADL build artifacts to workflow
# - Builds and pushes SADL-Eclipse Docker image
# - Builds WebSADL extension
# - Publishes WebSADL npm package
# - Builds WebSADL Docker image
# - Pushes WebSADL image to Docker Hub

jobs:
  build:
    strategy:
      matrix:
        distribution: [ temurin ]
        java-version: [ 11 ]
        os: [ ubuntu-20.04 ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out SADL source
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0 # Needed by lerna to publish canary versions

    - name: Set up Java
      uses: actions/setup-java@v2.3.0
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java-version }}
        cache: maven

    - name: Build SADL source
      uses: GabrielBB/xvfb-action@v1.5
      with:
        run: mvn -B package -Dtycho.localArtifacts=ignore --file sadl3/com.ge.research.sadl.parent/pom.xml

    - name: Get SADL version
      run: |
        cd sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/repository/features
        echo "sadlversion=$(ls com.ge.research.sadl.feature_*.jar | sed 's/com.ge.research.sadl.feature_\(.*\).jar/\1/')" >> $GITHUB_ENV

    - name: Upload SADL product zip files
      uses: actions/upload-artifact@v2.2.4
      with:
        name: sadl-eclipse-${{ env.sadlversion }}
        path: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/target/products/*.zip

    - name: Upload SADL update repository
      uses: actions/upload-artifact@v2.2.4
      with:
        name: com.ge.research.sadl.update-${{ env.sadlversion }}
        path: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/repository/

    - name: Login to Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push SADL-Eclipse Docker image
      uses: docker/build-push-action@v2.7.0
      with:
        context: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product
        file: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/Dockerfile
        push: true
        tags: sadl/sadl-eclipse:dev

    - name: Set up Node.js 10.x
      uses: actions/setup-node@v2.4.1
      with:
        node-version: 10.19.0
        registry-url: https://registry.npmjs.org
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'

    - name: Set up Python 2.7
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 2.7

    - name: Build WebSADL extension
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: yarn --cwd sadl3/com.ge.research.sadl.parent/theia-sadl-extension install

    - name: Publish WebSADL npm package
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      run: yarn --cwd sadl3/com.ge.research.sadl.parent/theia-sadl-extension run publish:next

    - name: Build WebSADL Docker image
      run: |
        npm install --global node-gyp@6.0.1
        npm config set node_gyp "`npm prefix -g`/lib/node_modules/node-gyp/bin/node-gyp.js"
        echo "npm config get node_gyp -> `npm config get node_gyp`"
        sadl3/com.ge.research.sadl.parent/theia-sadl-extension/scripts/build-docker.sh

    - name: Push WebSADL image to Docker Hub
      run: docker push theiaide/sadl:next
