name: SADL Release Workflow

# Runs whenever a release is published on GitHub

on:
  release:
    types: [ published ]

# Runs a build job and uploads SADL build artifacts:
# - Builds SADL source & runs unit tests
# - Uploads SADL build artifacts to release assets
# - Builds SADL-Eclipse Docker image and pushes it

jobs:
  release:
    strategy:
      matrix:
        distribution: [ temurin ]
        java-version: [ 11 ]
        os: [ ubuntu-20.04 ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out SADL source
      uses: actions/checkout@v2.4.0

    - name: Set up Java
      uses: actions/setup-java@v2.3.1
      with:
        distribution: ${{ matrix.distribution }}
        java-version: ${{ matrix.java-version }}
        cache: maven

    - name: Build SADL source
      uses: GabrielBB/xvfb-action@v1.5
      with:
        run: mvn -B package -Dtycho.localArtifacts=ignore --file sadl3/com.ge.research.sadl.parent/pom.xml

    - name: Rename SADL build artifacts
      run: |
        cd sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/target/products
        mv *-linux.gtk.x86_64.zip sadl-eclipse-linux.gtk.x86_64-${{ github.event.release.tag_name }}.zip
        mv *-macosx.cocoa.x86_64.zip sadl-eclipse-macosx.cocoa.x86_64-${{ github.event.release.tag_name }}.zip
        mv *-win32.win32.x86_64.zip sadl-eclipse-win32.win32.x86_64-${{ github.event.release.tag_name }}.zip
        cd ../../../com.ge.research.sadl.update/target
        mv *.zip com.ge.research.sadl.update-${{ github.event.release.tag_name }}.zip

    - name: Upload SADL build artifacts to release assets
      uses: softprops/action-gh-release@v0.1.12
      with:
        files: |
          sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/target/products/*.zip
          sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.update/target/*.zip

    - name: Login to Docker Hub
      uses: docker/login-action@v1.10.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build SADL-Eclipse Docker image and push it
      uses: docker/build-push-action@v2.7.0
      with:
        context: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product
        file: sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.product/Dockerfile
        push: true
        tags: |
          sadl/sadl-eclipse:latest
          sadl/sadl-eclipse:${{ github.event.release.tag_name }}
